.mat-column-contact_type { width: 15%; }
.mat-column-name         { width: 30%; }
.mat-column-email        { width: 25%; }
.mat-column-phones       { width: 25%; }
.mat-column-delete       { width: 5%; }
