<app-spinner-control *ngIf="isLoading"></app-spinner-control>

<h1>{{ 'contacts' | translate }}</h1>

<div *ngIf="contacts.length; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>

  <div style="border: 1px solid lightgray; overflow-x: auto;">
      <table mat-table [dataSource]="contacts" class="table">
      <ng-container matColumnDef="contact_type">
        <th mat-header-cell *matHeaderCellDef>{{ 'contact_type' | translate }}</th>
        <td mat-cell *matCellDef="let element"><span>{{ element.contact_type.name }}</span></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
        <td mat-cell *matCellDef="let element"><span>{{ element.name }}</span></td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>{{ 'email' | translate }}</th>
        <td mat-cell *matCellDef="let element"><span>{{ element.email }}</span></td>
      </ng-container>
      <ng-container matColumnDef="phones">
        <th mat-header-cell *matHeaderCellDef>{{ 'phones' | translate }}</th>
        <td mat-cell *matCellDef="let element"><span>{{ element.phones }}</span></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="basic" (click)="deleteContact(element)">
            {{ 'delete' | translate }}
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</ng-template>

<ng-template #elseBlock>
  <div>
    {{ 'errors.no_results' | translate }}
  </div>
</ng-template>

<button mat-raised-button class="action" color="primary" (click)="goToAdd()">
  {{ 'add_contact' | translate }}
</button>