.image-container {
  display: flex;
  justify-content: start;
  margin: 10px;
  max-width: 200px;
  min-height: 200px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  position: absolute;
  width: 100%;
  height: 100%;
}