.grid-container {
  display: grid;
  grid-template-columns: 190px 1fr;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted gray;
  width: 180px;
  height: 180px;
  margin: 10px 0;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container input {
  display: none;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
}
.button-container label{
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  align-items: center; 
  padding: 5px;
}