<app-spinner-control *ngIf="isLoading"></app-spinner-control>

<h1>{{ 'data' | translate }}</h1>

<!-- Personal data -->
<h2>{{ 'personal_data' | translate }}</h2>
<div class="group">
  <div class="pure-g" >

    <!-- Photo -->
    <div class="pure-u-1 pure-u-lg-1-5">
      <div class="label">{{ 'photo' | translate }}</div>
      <div class="image-container">
        <img *ngIf="customer.photo !== null" [src]="customer.photo?.thumbnail" [alt]="customer.photo?.name">
        <input id="photo" [(ngModel)]="image" type="file" (change)="upload($event)">
        <label *ngIf="!customer.photo || customer.photo === null" for="photo">{{ 'upload_image' | translate }}</label>
      </div>
    </div>      

    <!-- Data -->
    <div class="pure-u-1 pure-u-lg-4-5">

      <!-- Name -->
      <div class="pure-u-1 pure-u-lg-1-2">
        <mat-form-field>
          <mat-label>{{ 'name' | translate }}</mat-label>
          <input matInput 
                 [readonly]="!visibility['name']" 
                 [(ngModel)]="customer.name" 
                 (change)="enableSave()">
        </mat-form-field>
      </div>

      <!-- Id Type -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="visibility['id_type_id']">
          <mat-label>{{ 'id_type' | translate }}</mat-label>
          <mat-select [formControl]="id_type_idControl" 
                [(ngModel)]="customer.id_type_id"
                placeholder="{{ 'id_type' | translate }}"
                (selectionChange)="enableSave()">
            <mat-option *ngFor="let c of lookupService.idTypes" [value]="c.id">
              {{ isSpanish ? c.name : c.name_en  }}
            </mat-option>
          </mat-select>
          <mat-error class="mat-error" *ngIf="id_type_idControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!visibility['id_type_id']">
          <mat-label>{{ 'id_type' | translate }}</mat-label>
          <input matInput readonly [ngModel]="idType">
        </mat-form-field>
      </div>

      <!-- Id -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field>
          <mat-label>{{ 'document' | translate}}</mat-label>
          <input matInput [formControl]="documentControl" 
                 (change)="enableSave()" 
                 [(ngModel)]="customer.document"
                 [readonly]="!visibility['document']">
          <mat-error class="mat-error" *ngIf="documentControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
         
      <!-- Email -->
      <div class="pure-u-1 pure-u-lg-1-2">
        <mat-form-field>
          <mat-label>{{ 'email' | translate }}</mat-label>
          <input matInput readonly placeholder="{{'email' | translate}}" [(ngModel)]="customer.email">
        </mat-form-field>
      </div>
  
      <!-- Phones -->
      <div class="pure-u-1 pure-u-lg-1-2">
        <mat-form-field>
          <mat-label>{{ 'phone' | translate }}</mat-label>
          <input matInput 
                 placeholder="{{'phones' | translate}}" 
                 [readonly]="!visibility['phones']" 
                 [(ngModel)]="customer.phones" 
                 (change)="enableSave()">
        </mat-form-field>
      </div>
  
      <!-- Gender -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="!visibility['gender_id']">
          <mat-label>{{ 'gender' | translate }}</mat-label>
          <input matInput readonly placeholder="{{ 'gender' | translate }}" [ngModel]="gender">
        </mat-form-field>
        <mat-form-field *ngIf="visibility['gender_id']">
          <mat-label>{{ 'gender' | translate }}</mat-label>
          <mat-select [(ngModel)]="customer.gender_id" (selectionChange)="enableSave()">
            <mat-option *ngFor="let c of lookupService.genders" [value]="c.id">
              {{ isSpanish ? c.name : c.name_en  }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Language -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="!visibility['language_id']">
          <mat-label>{{ 'language' | translate }}</mat-label>
          <input matInput readonly placeholder="{{ 'language' | translate }}" [ngModel]="language">
        </mat-form-field>
        <mat-form-field *ngIf="visibility['language_id']">
          <mat-label>{{ 'language' | translate }}</mat-label>
          <mat-select [(ngModel)]="customer.language_id" (selectionChange)="enableSave()">
            <mat-option *ngFor="let c of lookupService.languages" [value]="c.id">
              {{ isSpanish ? c.name : c.name_en }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Nationality -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="!visibility['nationality_id']">
          <mat-label>{{ 'nationality' | translate }}</mat-label>
          <input matInput readonly placeholder="{{ 'nationality' | translate }}" [ngModel]="nationality">
        </mat-form-field>
        <mat-form-field *ngIf="visibility['nationality_id']">
          <mat-label>{{ 'nationality' | translate}}</mat-label>
          <mat-select [(ngModel)]="customer.nationality_id" (selectionChange)="enableSave()">
            <mat-option *ngFor="let c of lookupService.countries" [value]="c.id">
              {{ isSpanish ? c.name : c.name_en }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Origin -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="!visibility['country_origin_id']">
          <mat-label>{{ 'country_origin' | translate }}</mat-label>
          <input matInput readonly placeholder="{{ 'country_origin' | translate }}" [ngModel]="origin">
        </mat-form-field>
        <mat-form-field *ngIf="visibility['country_origin_id']">
          <mat-label>{{ 'country_origin' | translate }}</mat-label>
          <mat-select [(ngModel)]="customer.country_origin_id" (selectionChange)="enableSave()">
            <mat-option *ngFor="let c of lookupService.countries" [value]="c.id">
              {{ isSpanish ? c.name : c.name_en }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Lang -->
      <div class="pure-u-1 pure-u-lg-1-4">
        <mat-form-field>
          <mat-label>{{ 'lang' | translate }}</mat-label>
          <mat-select [(ngModel)]="customer.appLang" (selectionChange)="changeLang()">
            <mat-option *ngFor="let c of lookupService.appLangs" [value]="c.id">
              {{ c.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

  </div>
</div>

<!-- Address -->
<h2>{{ 'address_details' | translate }}</h2>
<div class="group">
  <div class="pure-g">

    <!-- Address -->
    <div class="pure-u-1">
      <mat-form-field>
        <mat-label>{{ 'address' | translate }}</mat-label>
        <input matInput [formControl]="addressControl" 
               placeholder="{{'address' | translate}}" 
               [readonly]="!visibility['address']"               
               [(ngModel)]="customer.address"
               (change)="enableSave()">
        <mat-error class="mat-error" *ngIf="addressControl.errors">
          {{ 'errors.field_required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Zip -->
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <mat-form-field>
        <mat-label>{{ 'zip' | translate }}</mat-label>
        <input matInput [formControl]="zipControl" 
               maxlength="5" 
               placeholder="{{'zip' | translate}}" 
               [readonly]="!visibility['zip']" 
               [(ngModel)]="customer.zip"
               (change)="enableSave()" >
          <mat-error class="mat-error" *ngIf="zipControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
      </mat-form-field>
    </div>

    <!-- City -->
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <mat-form-field>
        <mat-label>{{ 'city' | translate }}</mat-label>
        <input matInput [formControl]="cityControl"
               placeholder="{{'city' | translate}}"
               [readonly]="!visibility['city']" 
               [(ngModel)]="customer.city" 
               (change)="enableSave()">
        <mat-error class="mat-error" *ngIf="cityControl.errors">
          {{ 'errors.field_required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Province -->
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <mat-form-field>
        <mat-label>{{ 'province' | translate }}</mat-label>
        <input matInput [formControl]="provinceControl"
               placeholder="{{'province' | translate}}"
               [readonly]="!visibility['province']"
               [(ngModel)]="customer.province"
               (change)="enableSave()">
        <mat-error class="mat-error" *ngIf="provinceControl.errors">
          {{ 'errors.field_required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Country -->
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
      <mat-form-field *ngIf="visibility['country_id']">
        <mat-label>{{ 'country' | translate }}</mat-label>
        <mat-select [formControl]="country_idControl" 
              placeholder="{{ 'country' | translate }}" 
              [(ngModel)]="customer.country_id"
              (selectionChange)="enableSave()">
          <mat-option *ngFor="let c of lookupService.countries" [value]="c.id">
            {{ isSpanish ? c.name : c.name_en }}
          </mat-option>
        </mat-select>
        <mat-error class="mat-error" *ngIf="country_idControl.errors">
          {{ 'errors.field_required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!visibility['country_id']">
        <mat-label>{{ 'country' | translate }}</mat-label>
        <input matInput readonly placeholder="{{ 'country' | translate }}" [ngModel]="country">
      </mat-form-field>
    </div>

  </div>
</div>

<!-- Age & tutor -->
<h2>{{ 'age' | translate }}</h2>
<div class="group">

  <!-- Birthdate -->
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="visibility['birth_date']">
          <mat-label>{{ 'birth_date' | translate }}</mat-label>
          <input matInput [formControl]="birth_dateControl" 
                 placeholder="{{ 'birth_date' | translate }}" 
                 [matDatepicker]="picker" 
                 [(ngModel)]="customer.birth_date"
                 (dateInput)="enableSave()">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error class="mat-error" *ngIf="birth_dateControl.hasError('under16')">
            {{ 'errors.under_16' | translate }}
          </mat-error>
          <mat-error class="mat-error" *ngIf="birth_dateControl.hasError('required')">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!visibility['birth_date']">
          <mat-label>{{ 'birth_date' | translate }}</mat-label> 
          <input matInput readonly placeholder="{{ 'birth_date' | translate }}" [ngModel]="birthDate">
        </mat-form-field>
      </div>
    </div>

    <h3 *ngIf="age < 18 && age > 15">Tutor</h3>
    <div class="pure-g" *ngIf="age < 18 && age > 15">  

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field *ngIf="visibility['tutor_id_type_id']">
          <mat-label>{{ 'tutor_id_type' | translate }}</mat-label>
          <mat-select [formControl]="tutor_id_type_idControl"
                  [(ngModel)]="customer.tutor_id_type_id" 
                  (selectionChange)="enableSave()">
            <mat-option *ngFor="let c of lookupService.idTypes" [value]="c.id">
              {{ isSpanish ? c.name : c.name_en  }}
            </mat-option>
          </mat-select>
          <mat-error class="mat-error" *ngIf="tutor_id_type_idControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!visibility['tutor_id_type_id']">
          <mat-label>{{ 'tutor_id_type' | translate }}</mat-label>
          <input matInput readonly placeholder="{{ 'tutor_id_type' | translate }}" [ngModel]="tutor_id_type">
        </mat-form-field>
      </div>
    
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <mat-form-field>
          <mat-label>{{ 'tutor_document' | translate }}</mat-label>
          <input matInput [formControl]="tutor_documentControl"
                 placeholder="{{ 'tutor_document' | translate }}" 
                 [readonly]="!visibility['tutor_document']" 
                 [(ngModel)]="customer.tutor_document">
          <mat-error class="mat-error" *ngIf="tutor_documentControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="pure-u-1 pure-u-lg-1-2">
        <mat-form-field >
          <mat-label>{{ 'tutor_name' | translate }}</mat-label>
          <input matInput [formControl]="tutor_nameControl"
                 placeholder="{{ 'tutor_name' | translate }}" 
                 [readonly]="!visibility['tutor_name']" 
                 [(ngModel)]="customer.tutor_name">
          <mat-error class="mat-error" *ngIf="tutor_nameControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="pure-u-1 pure-u-lg-1-2">
        <mat-form-field>
          <mat-label>{{ 'tutor_email' | translate }}</mat-label>
          <input matInput 
                 placeholder="{{ 'tutor_email' | translate }}" 
                 [readonly]="!visibility['tutor_email']" 
                 [(ngModel)]="customer.tutor_email">
          <mat-error class="mat-error" *ngIf="tutor_emailControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="pure-u-1 pure-u-lg-1-2">
        <mat-form-field>
          <mat-label>{{ 'tutor_phones' | translate }}</mat-label>
          <input matInput 
                 placeholder="{{ 'tutor_phones' | translate }}" 
                 [readonly]="!visibility['tutor_phones']" 
                 [(ngModel)]="customer.tutor_phones">
          <mat-error class="mat-error" *ngIf="tutor_phonesControl.errors">
            {{ 'errors.field_required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
  
  </div>
</div>

<!-- Other -->
<h2>{{ 'other' | translate }}</h2>
<div class="group">
  <div class="pure-g">

    <!-- School -->
    <div class="pure-u-1">     
      <mat-form-field *ngIf="!visibility['school_id']">
        <mat-label>{{ 'school' | translate }}</mat-label>
        <input matInput readonly placeholder="{{ 'school' | translate }}" [ngModel]="school">
      </mat-form-field>
      <mat-form-field *ngIf="visibility['school_id']">
        <mat-label>{{ 'school' | translate }}</mat-label>
        <mat-select [(ngModel)]="customer.school_id" (selectionChange)="enableSave()">
          <mat-option *ngFor="let c of lookupService.schools" [value]="c.id">
            {{ c.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Bank account -->
    <div class="pure-u-1">     
      <mat-form-field>
        <mat-label>{{ 'bank_account' | translate }}</mat-label>
        <input matInput placeholder="{{'bank_account' | translate}}"
               [(ngModel)]="customer.bank_account" (change)="enableSave()">
      </mat-form-field>
    </div>

  </div>

</div>

<div class="pure-u-1">
  <button class="action" [disabled]="!isSaveEnabled" mat-raised-button color="primary" (click)="save()">
    {{ 'save' | translate }}
  </button>
</div>