<app-spinner-control *ngIf="isLoading"></app-spinner-control>

<div class="container">

  <div class="header">

    <div class="pure-g">
      <div class="pure-u-22-24">
        <span *ngIf="op=='nextin'"  ><h1>Próximas entradas</h1></span>
        <span *ngIf="op=='checkin'" ><h1>Entradas</h1></span>
        <span *ngIf="op=='issues'"  ><h1>Incidencias entradas</h1></span>
        <span *ngIf="op=='nextout'" ><h1>Próximas salidas</h1></span>
        <span *ngIf="op=='checkout'"><h1>Salidas</h1></span>
      </div>
      <div class="pure-u-1-24" style="margin-top:20px;text-align:right;">
        <a><mat-icon style="cursor:pointer;" fontIcon="cloud_download"></mat-icon></a>
      </div>
      <div class="pure-u-1-24" style="margin-top:20px;text-align:right;">
        <mat-icon style="cursor:pointer;" onclick="window.open(window.location.href, '_blank');" fontIcon="open_in_new"></mat-icon>   
      </div>
    </div>
  
    <form>
      <div class="pure-g">

        <div class="pure-u-5-24">
          <mat-form-field class="field" appearance="fill" >
            <mat-label>{{ 'city' | translate }}</mat-label>
            <mat-select name="cities" 
              [(ngModel)]="cityId"
              [placeholder]="'nothing' | translate" 
              (selectionChange)="onCity()">
              <mat-option *ngFor="let citie of cities" [value]="citie.id">
                {{ citie.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="pure-u-5-24">
          <mat-form-field class="field" appearance="fill" >
            <mat-label>{{ 'building' | translate}}</mat-label>
            <mat-select
            name="buildings"
              [(ngModel)]="buildingId"
              [placeholder]="'nothing' | translate"
              (selectionChange)="onBuilding()">
              <mat-option  [value]=-1>{{ 'allM' | translate }}</mat-option>
              <mat-option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="pure-u-5-24" *ngIf="['nextin','nextout','issues'].includes(op)">
          <mat-form-field class="field" appearance="fill" >
            <mat-label>{{ 'date range' | translate }}</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
              <input matStartDate formControlName="start" [placeholder]="'from' | translate">
              <input matEndDate formControlName="end" [placeholder]="'to' | translate" (dateChange)="onDates()">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

      </div>
    </form>
  
  </div>

  <table *ngIf="rows">

    <thead>
      <tr>
        <th *ngFor="let h of header" (click)="sort(h.key, null);" class="link">
          <span [class.vertical]="h.type === 'bool'">{{h.value}}</span>
          <svg class="arrow {{h.sort}}" focusable="false" viewBox="0 0 24 24"><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path></svg>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of rows" class="link" [class.warning]="r['Warning']" [class.holiday]="isHoliday(r['Date'])">
        <td *ngFor="let h of header">
          <!-- Status field -->
          <span *ngIf="h.type === 'status'" (click)="goBooking(r.id)">{{ getLabel(r[h.key]) }}</span>
          <!-- Text/Date/Input fields -->
          <span *ngIf="h.type === 'text'"  [innerHtml]="r[h.key] | safe"></span>
          <span *ngIf="h.type === 'date'"  [innerHtml]="r[h.key] | safe"></span>
          <span *ngIf="h.type === 'input'" [innerHtml]="r[h.key] | safe"></span>
          <!-- Boolean fields -->
          <span *ngIf="h.type === 'bool'" >
            <mat-checkbox 
              [checked]="r[h.key][0]" 
              (change)="emitCheck($event, h.key, r)">
            </mat-checkbox>
          </span>
        </td>
        <td>
          <button mat-raised-button color="primary" [disabled]="!r['Changed']" (click)="save(r)">Guardar</button>
        </td>
      </tr>
    </tbody>

  </table>

</div>