<app-spinner-control *ngIf="!loaded"></app-spinner-control>

<h1>{{ 'payment_data' | translate }}</h1>

<h2>{{ 'pay_info' | translate }}</h2>

<form ngNoForm name="form" *ngIf="loaded" [action]="url" method="POST" target="_top">

<div class="group">
  <div class="pure-g grid-container" >

    <div class="pure-u-1 pure-u-lg-1-2">
      <mat-form-field>
        <mat-label>{{ 'identifier' | translate }}</mat-label>
        <input readonly matInput id="id" [value]="identifier" >
      </mat-form-field>
    </div>

    <div class="pure-u-1 pure-u-lg-1-2">
      <mat-form-field>
        <mat-label>{{ 'order_number' | translate }}</mat-label>
        <input readonly matInput id="order" [value]="order">
      </mat-form-field>
    </div>

    <div class="pure-u-1">
      <mat-form-field>
        <mat-label>{{ 'concept' | translate }}</mat-label>
        <input readonly matInput id="concept" [value]="concept">
      </mat-form-field> 
    </div>

    <div class="pure-u-1 pure-u-lg-1-2">
      <mat-form-field>
        <mat-label>{{ 'amount' | translate }} €</mat-label>
        <input readonly matInput id="amount" [value]="amount">
      </mat-form-field>
    </div>

    <input type="hidden" id="Ds_SignatureVersion" name="Ds_SignatureVersion" [value]="Ds_SignatureVersion">
    <input type="hidden" id="Ds_MerchantParameters" name="Ds_MerchantParameters" [value]="Ds_MerchantParameters">
    <input type="hidden" id="Ds_Signature" name="Ds_Signature" [value]="Ds_Signature">

  </div>
</div>

<div class="pure-u-1">
  <button id="submit" class="action" [disabled]="buttonDisabled" type="submit">
    {{ 'pay' | translate }}
  </button>
</div>

</form>
