li {
  list-style-type: none;
  font-weight: 700;
  padding: 10px;
}
li:hover {
  cursor: pointer;
  background-color: var(--turquoise)
}
.active {
  background-color: var(--turquoise-light) !important;
}