<div class="container">

	<h1>Planning</h1>

	<div class="nav_container">
		<form class="selectors_container">
			<mat-form-field appearance="fill" style="margin-right: 10px;">
				<mat-label>Ciudad</mat-label>
				<mat-select
          [(ngModel)]="selectedCitie"
          name="cities"
          (selectionChange)="onSelectCity()"
        >
				<mat-option  value="ALL">Todas</mat-option>
					<mat-option *ngFor="let citie of cities" [value]="citie.id">
						{{ citie.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="fill" style="margin-right: 10px;">
				<mat-label>Edificio</mat-label>
				<mat-select
          [(ngModel)]="selectedBuilding"
          name="buildings"
          (selectionChange)="getResourcesAndBookings()"
        >
					<mat-option *ngFor="let building of buildings" [value]="building.code">
						{{ building.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>

      <mat-form-field appearance="fill" style="margin-right: 10px;">
				<mat-label>Tipos</mat-label>
				<mat-select
          [(ngModel)]="selectedResouceType"
          name="resourcesTypes"
          (selectionChange)="onSelectResourceType()"
					[disabled]="!resourceTypes.length"
        >
				<mat-option  value="ALL">Todos</mat-option>
					<mat-option *ngFor="let resourceType of resourceTypes" [value]="resourceType.code">
						{{ resourceType.code }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Rango de fechas</mat-label>
				<mat-date-range-input [rangePicker]="picker" [disabled]="!bars.length" [formGroup]="range">
					<input matStartDate formControlName="start" placeholder="Desde">
					<input matEndDate  formControlName="end" placeholder="Hasta" (dateChange)="onDateChange()">
				</mat-date-range-input>
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>
		</form>


		<div class="time_line_buttons">
			<button mat-raised-button color="primary" (click)="goBackward()">&lt; Semana anterior</button>
			&nbsp;
			<button mat-raised-button color="primary" (click)="goForward()">Semana siguiente &gt;</button>
		</div>
	</div>


	<div *ngIf="bars.length">
		<app-time-chart-control [bars]="bars" [now]="now" [from]="initDate" [to]="endDate"></app-time-chart-control>
	</div>
</div>