<div>
  <h2>{{ 'newContact' | translate }}</h2>
  <div>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>{{ 'contactType' | translate }}</mat-label>
      <mat-select [(ngModel)]="contactType">
        <mat-option *ngFor="let contact of contactTypes" [value]="contact.id">
          {{ contact.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>
      <mat-form-field>
        <mat-label>{{ 'name' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'name' | translate}}"
          [(ngModel)]="name"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'surname' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'surname' | translate}}"
          [(ngModel)]="surName"
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'email' | translate}}"
          [(ngModel)]="email"
          [formControl]="emailFormControl"
        >
        <mat-error
          class="mat-error"
          *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')"
        >
          {{ 'invalidEmail' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'phone' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'phone' | translate}}"
          [(ngModel)]="phone"
        >
      </mat-form-field>
    </p>
  </div>

  <div>
    <button
      [disabled]="isDisabled"
      mat-raised-button
      color="basic"
      (click)="save()"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</div>
