<div>
  <h2>{{ 'newContact' | translate }}</h2>
  <div>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>{{ 'contactType' | translate }}</mat-label>
      <mat-select [(ngModel)]="contactType" [formControl]="contactTypeFormControl">
        <mat-option *ngFor="let contact of contactTypes" [value]="contact.id">
          {{ contact.name }}
        </mat-option>
      </mat-select>

      <mat-error
          class="mat-error"
          *ngIf="contactTypeFormControl.hasError('required')"
        >
          {{ 'errors.contactTypeRequired' | translate }}
        </mat-error>
    </mat-form-field>
    <p>
      <mat-form-field>
        <mat-label>{{ 'completeName' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'completeName' | translate}}"
          [(ngModel)]="name"
          [formControl]="nameFormControl"
        >
        <mat-error
          class="mat-error"
          *ngIf="nameFormControl.hasError('required')"
        >
          {{ 'errors.nameRequired' | translate }}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'email' | translate}}"
          [(ngModel)]="email"
          [formControl]="emailFormControl"
        >
        <mat-error
          class="mat-error"
          *ngIf="emailFormControl.hasError('pattern') || emailFormControl.hasError('required')"
        >
          <span  *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
            {{ 'errors.invalidEmail' | translate }}
          </span>
          <span *ngIf="emailFormControl.hasError('required')">
            {{ 'errors.emailRequired' | translate }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'phone' | translate }}</mat-label>
        <input
          matInput
          placeholder="{{'phone' | translate}}"
          [(ngModel)]="phone"
        >
      </mat-form-field>
    </p>
  </div>

  <div>
    <button
      [disabled]="isDisabled"
      mat-raised-button
      color="basic"
      (click)="save()"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</div>
