<app-spinner-control *ngIf="isLoading"></app-spinner-control>

<h1>{{ 'questionnaires' | translate }}</h1>

<div *ngIf="questionnaire; then thenQuestionnairesBlock else elseQuestionnairesBlock"></div>

<ng-template #thenQuestionnairesBlock>

  <div class="questionnaire pure-g">
     
    <h2>{{ "questionnaire_" + questionnaire.type | translate }}</h2>
    <br>
    <p>{{ "questionnairetext_" + questionnaire.type | translate }}</p>

    <div class="pure-u-1" *ngFor="let g of questions">

      <!-- Group title -->
      <div class="group"><p>{{ isSpanish ? g.description : g.description_en }}</p></div>

      <!-- Questions -->
      <div class="question pure-u-1" *ngFor="let q of g.questions">
        <div class="text pure-u-1 pure-u-lg-1-2"><p>{{ isSpanish ? q.question : q.question_en }}</p></div>
        <div class="answer pure-u-1 pure-u-lg-1-2" *ngIf="q.type === 'puntos'">
          <app-star-rating of="{{ isSpanish ? 'de': 'out of' }}" [(ngModel)]="q.value" (change)="onChange(q)"></app-star-rating>
        </div>        
        <div class="answer input pure-u-1 pure-u-lg-1-2" *ngIf="q.type === 'texto'">
          <mat-form-field>
            <input matInput [placeholder]="'comments' | translate" [(ngModel)]="q.value" (change)="onChange(q)">
          </mat-form-field>
        </div>
        <div class="answer pure-u-1 pure-u-lg-1-2" *ngIf="q.type === 'check'">
          <mat-radio-group [(ngModel)]="q.value" (change)="onChange(q)">
            <mat-radio-button class="radio-button" [value]="'Sí'">{{ isSpanish ? "Sí": "Yes" }}</mat-radio-button>
            <mat-radio-button class="radio-button" [value]="'No'">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

    </div>

    <div class="pure-u-1" *ngIf="questionnaire.type=='checkin'">

      <!-- Group title -->
      <div class="group"><p>{{ "questionnaire_issues" | translate }}</p></div>

      <!-- Questions -->
      <div class="question pure-u-1">
        <div class="text pure-u-1 pure-u-lg-1-2"><p>{{ "questionnairetext_issues" | translate }}</p></div>
        <div class="answer input pure-u-1 pure-u-lg-1-2">
          <mat-form-field>
            <input matInput [placeholder]="'questionnaire_issues' | translate" [(ngModel)]="issues">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="pure-u-1">
      <div class="group">
        <p>{{ 'questionnaire_upload_media' | translate }}</p>
      </div>
      <div class="question pure-u-1">
        <div class="text pure-u-1 pure-u-lg-1-2">
          <p>{{ 'questionnaire_upload_media_description' | translate }}</p>
        </div>
        <div class="answer pure-u-1 pure-u-lg-1-2">
          <input type="file" multiple (change)="onFilesSelected($event)" accept="image/*,video/*">
        </div>
      </div>
    </div>

    <div class="gallery pure-u-1" *ngIf="mediaPreviews.length > 0">
      <div class="media-container" *ngFor="let media of mediaPreviews">
        <ng-container [ngSwitch]="media.type">
          <img *ngSwitchCase="'image'" [src]="media.url" alt="preview" />
          <video *ngSwitchCase="'video'" [src]="media.url" controls></video>
        </ng-container>
      </div>
    </div>
        
  </div>

  <div class="pure-u-1">
    <button class="action" mat-raised-button color="primary" (click)="save()">
      {{ 'save' | translate }}
    </button>
  </div>

</ng-template>

<ng-template #elseQuestionnairesBlock>
  <div>{{ 'errors.no_questionnaires' | translate }}</div>
</ng-template>