.mat-column-issue_date { width: 10%; }
.mat-column-concept    { width: 30%; }
.mat-column-amount     { width: 10%; text-align: right; }
.mat-column-booking    { width: 10%; }
.mat-column-code       { width: 10%; }