.mat-column-view       { width: 5%; }
.mat-column-pay        { width: 5%; }
.mat-column-issue_date { width: 15%; }
.mat-column-concept    { width: 25%; }
.mat-column-amount     { width: 10%; text-align: right; }
.mat-column-booking    { width: 10%; }
.mat-column-code       { width: 10%; }

.link { cursor: pointer; }