<div class="main">

<mat-toolbar>
  <h1><img class="logo" src="assets/isologo.png" (click)="snav.toggle()"></h1>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #snav id="snav" [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'">
    <app-nav class="nav"></app-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet *ngIf="!isLoading"></router-outlet>
    <app-spinner-control *ngIf="isLoading"></app-spinner-control>
  </mat-sidenav-content>

</mat-sidenav-container>

</div>
