<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-sidenav-container class="container">
    <mat-sidenav id="snav" #snav [opened]="mobileQuery.matches ? false: true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
      <div class="header-nav toolbar"
        [ngStyle]="getStyles"
      >
        <button *ngIf="!mobileQuery.matches" (click)="snav.toggle()" mat-icon-button >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <app-nav class="nav"
        [showTutor]="showTutor.asObservable()"
        [style.marginTop.px]="mobileQuery.matches ? 60 : 0"
      ></app-nav>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="header-content">
        <button *ngIf="mobileQuery.matches || !snav.opened" (click)="snav.toggle()" mat-icon-button >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div style="padding: 10px; height: 100%;" *ngIf="!isLoading">
        <router-outlet></router-outlet>
      </div>

      <div *ngIf="isLoading">
        Loading ...
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>