<div class="main">

<mat-toolbar>
  <h1>
    <img class="logo" src="assets/isologo.png" (click)="snav.toggle()">
  </h1>
  <span style="flex: 1 1 auto;"></span>
  <span>
    <a href="https://api.whatsapp.com/send?phone=+34663041433&text=Hola!...">
      <img style="margin-top:10px;width:24px;" src="assets/whatsapp.svg">
    </a>
  </span>
  <div class="desktop">
    <span style="margin-left:20px;"><a href="tel:+34663041433">+34 663 04 14 33</a></span>
    <span style="margin-left:20px;"><a href="mailto:hola@cotown.com">hola@cotown.com</a></span>
  </div>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #snav id="snav" [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'">
    <app-nav class="nav"></app-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet *ngIf="!isLoading"></router-outlet>
    <app-spinner-control *ngIf="isLoading"></app-spinner-control>
  </mat-sidenav-content>

</mat-sidenav-container>

</div>
