
#modal-content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}

header {
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-title {
  font-size: 22px;
}

#modal-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-button {
  width: 80%;
}

#modal-body {
  display: flex;
  padding: 0 20px 0 20px;
  text-align: center;
  justify-content: center;
}