@font-face {
  font-family: "rift";
  src: url("assets/rift-regular.eot");
  src: url("assets/rift-regular.woff") format("woff"),
       url("assets/rift-regular.woff2") format("woff2"),
}
  
:root {
  /* // Main color */
  --primary: #08bdbd;
  --accent: #ff5870;
}

body, html {
  font-family: "Helvetica Neue", sans-serif; 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "rift", sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
}
h2 {
  font-size: 20px;
}
  
.mat-mdc-form-field {
  width: calc(100% - 10px);
}
.mdc-data-table__table {
  min-width: 99%;
  border: 1px solid lightgray !important;
  background-color: #f5f5f5 !important;
}
.mdc-data-table__table th {
  font-weight: 700;
  font-size: 1rem;
}

.action {
  margin: 20px 0 40px 0;
}
.group {
  border: 1px solid lightgray;
  background-color: #f5f5f5;
  padding: 5px 5px 0px 15px;
}
.label {
  margin-top: 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  font-family: "Helvetica Neue", sans-serif;
  color:rgba(20, 20, 20, 0.6);
}

@import '@angular/material/theming';
//@include mat-core();
$my-app-primary: mat-palette($mat-teal, 300);
$my-app-basic: mat-palette($mat-gray, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-basic);
@include angular-material-theme($my-app-theme);
