:root {
  /* // Main color */
  --turquoise-light: #00bfb2;
  --turquoise: #00998b;
  --turquoise-dark: #00736B;
  
  /* // Secondary color */
  --grey-light: #3c434a;
  --grey-dark: #30363b;
  --grey-light: #d1d1d1;
  --grey-light-dark: #a7a7a7;
  --blue: #384289;
  --blue-dark: #2d356e;
  --purple: #ab92e1;
  --purple-dark: #8975b4;
  --yellow: #ecf166;
  --yellow-dark: #bdc152;
      
  /* // Background color */
  --white-background: #f4f4f4;
  --black: #000000;
  --grey-background: #D9D9D9;
  --light-grey-background: #FAFAFA;
  --grey-light-background: #FCFCFC;
  
  /* // Text color */
  --white: #ffffff;
  
  /* // Feedback color */
  --green-success-light: #e3f2e0;
  --green-success: #8dc881;
  --green-success-dark: #459a33;
  --yellow-warning-light: #f8f3d8; 
  --yellow-warning: #e2ca64; 
  --yellow-warning-dark: #c9a81c;
  --red-error-light: #FF5555;
  --red-error: #FF0000;
  --red-error-dark: #CC0000;
  
  --shadow-soft: rgba(2, 0, 2, 15%);
  --shadow-medium: rgba(8, 0, 4, 15%);
  --shadow-strong: rgba(16, 0, 8, 20%);
}

body, html {
  font-family: "Open Sans", "Helvetica Neue", sans-serif; 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Bebas Neue", "Helvetica Neue", sans-serif;
  font-size: 60px;
  margin: 0;
}

.mat-mdc-form-field {
  width: calc(100% - 10px);
}
.mdc-data-table__table {
  border: 1px solid lightgray !important;
  background-color: #f5f5f5 !important;
}
.mdc-data-table__table th {
  font-weight: 700;
  font-size: 1rem;
}

.action {
  margin: 20px 0 40px 0;
}
.group {
  border: 1px solid lightgray;
  background-color: #f5f5f5;
  padding: 5px 5px 0px 15px;
}
.label {
  margin-top: 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  font-family: "Open Sans";
  color:rgba(20, 20, 20, 0.6);
}

@import '@angular/material/theming';
//@include mat-core();
$my-app-primary: mat-palette($mat-teal, 300);
$my-app-basic: mat-palette($mat-gray, 800);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-basic);
@include angular-material-theme($my-app-theme);
