<app-spinner-control *ngIf="isLoading"></app-spinner-control>

<div class="container">

  <div class="header">

    <div class="pure-g">
      <div class="pure-u-21-24">
        <h1>LAU y otros</h1>
      </div>
      <div class="pure-u-1-24" style="margin-top:20px;text-align:right;">
        <a [href]="link()"><mat-icon style="cursor:pointer;" fontIcon="cloud_download"></mat-icon></a>
      </div>
      <div class="pure-u-1-24" style="margin-top:20px;text-align:right;">
        <mat-icon style="cursor:pointer;" onclick="window.open(window.location.href, '_blank');" fontIcon="open_in_new"></mat-icon>   
      </div>
    </div>

    <form>
      <div class="pure-g">

        <div class="pure-u-5-24">
          <mat-form-field class="field" appearance="fill" >
            <mat-label>{{ 'dashboard' | translate }}</mat-label>
            <mat-select name="dashboards" 
              [(ngModel)]="op"
              [placeholder]="'nothing' | translate"
              (selectionChange)="reset()">
              <mat-option *ngFor="let dashboard of dashboards" [value]="dashboard.op">
                {{ dashboard.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="pure-u-5-24">
          <mat-form-field class="field" appearance="fill" >
            <mat-label>{{ 'city' | translate }}</mat-label>
            <mat-select name="cities" 
              [(ngModel)]="cityId"
              [placeholder]="'nothing' | translate" 
              (selectionChange)="onCity()">
              <mat-option *ngFor="let citie of cities" [value]="citie.id">
                {{ citie.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="pure-u-5-24">
          <mat-form-field class="field" appearance="fill" >
            <mat-label>{{ 'building' | translate}}</mat-label>
            <mat-select name="buildings" multiple
              [(ngModel)]="buildingIds"
              [placeholder]="'nothing' | translate"
              (selectionChange)="onBuilding()">
              <mat-option *ngFor="let building of buildings" [value]="building.id">
                {{ building.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>
    </form>
  
  </div>

  <table *ngIf="rows">

  </table>

</div>