<h1>{{ 'bookings' | translate }}</h1>
<div>
  <div *ngIf="bookings.length; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <table mat-table [dataSource]="bookings" class="mat-elevation-z8">
      <ng-container [matColumnDef]="col.header" *ngFor="let col of tableFormat">
        <th mat-header-cell *matHeaderCellDef>{{ col.name | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="col.header === RESOURCE_PROPERTY">
            {{ getResourceCode(element[col.property]) }}
          </span>
          <span *ngIf="col.header === FLAT_TYPE_PROPERTY || col.header === PLACE_TYPE_PROPERTY">
            {{ getComposedName(element[col.property]) }}
          </span>
          <span *ngIf="isNormalHeader(col.header)">
            {{ element[col.property] }}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow(row)"></tr>
    </table>
  </ng-template>

  <ng-template #elseBlock>
    <div>
      {{ 'notFoundResults' | translate }}
    </div>
  </ng-template>
</div>