<div>
  <h2>Documentos</h2>

  <div>
    <label>Foto</label>
    <input
      placeholder="Foto"
      [(ngModel)]="image"
      type="file"
      (change)="upload($event)"
    >
  </div>

  <div  *ngIf="documents.length; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div *ngFor="let document of documents" style="margin-top: 10px;">
      <p>Document type {{ document.doctype.name }}</p>
      <p>Exprity Date {{ document.expirity_date }}</p>


    </div>
  </ng-template>
<ng-template #elseBlock>
  <div>
    No se han encontrado resultados
  </div>
</ng-template>

</div>