.doc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted gray;
    width: 100%;
    height: 250px;
    margin: 10px 0 20px 0;
  }
  .doc-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .doc-container input {
    display: none;
  }
  .doc-container label{
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    align-items: center; 
    padding: 5px;
  }